<form {{on "submit" this.onSubmit}}>

  <Fieldset
    @label="Name"
    @type="text"
    id="name"
    value={{this.name}}
    @onChange={{this.onChangeName}}
  />

  <Fieldset
    @label="Email"
    @type="email"
    id="email"
    value={{this.email}}
    @onChange={{this.onChangeEmail}}
  />

  <Fieldset
    @label="Phone Number"
    @type="text"
    id="phone-number"
    value={{this.phoneNumber}}
    @onChange={{this.onChangePhoneNumber}}
  />

  {{#if this.showErrorMessage}}
    <div class="error">
      <p>The fields are required</p>
    </div>
  {{/if}}

  {{#if this.showData}}
    <p>Name: {{this.name}}</p>
    <p>Email: {{this.email}}</p>
    <p>Phone Number: {{this.formattedPhoneNumber}}</p>
  {{/if}}

  <button type="submit">Submit</button>
  <button type="button" {{on "click" this.clearForm}}>Clear</button>
</form>